<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<br>
<a href="/">All Purchases</a>
<a href="/?category=Alcohol">Alcohol</a>
<a href="/?category=Food">Food</a>
<a href="/?category=Furniture">Furniture</a>
<a href="/?category=Jewelry">Jewelry</a>
<a href="/?category=Shoes">Shoes</a>
<a href="/?category=Toiletries">Toiletries</a>
<br>
<br>
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Category</th>
        <th>Credit Card</th>
        <th>CVV</th>
        <th>Date</th>
    </tr>
    {{#purchases}}
    <tr>
        <td>
            {{customer.name}}<br>
        </td>
        <td>
            {{customer.email}}<br>
        </td>
        <td>
            {{category}}<br>
        </td>
        <td>
            {{creditCard}}<br>
        </td>
        <td>
            {{cvv}}
        </td>
        <td>
            {{date}}<br>
        </td>
    </tr>
    {{/purchases}}
</table>


</body>
</html>